<h4>
    <a style="color:#000000", href="/">Home</a>
	<a style="color:#B6B6B4", href="/softwares">Projects</a>
	<a style="color:#000000", href="/artist">ArtistD</a>
	<a style="color:#B6B6B4", href="/cv">CV</a>
	<a style="color:#000000", href="/about">About</a>
</h4>

<h3>Felix Yanhui Fan, Ph.D <img src="https://dl.dropboxusercontent.com/u/8272421/felix.jpg" alt="Smiley face" height="84" width="84"/></h3>
<p>I am working in the field of human complex disease research, with specialization in bioinformatics and statistical genetics.</p>

<p>
	<a href="http://www.linkedin.com/pub/felix-yanhui-fan/22/176/a9a">
		<img src="https://dl.dropboxusercontent.com/u/8272421/linkedin.jpg" alt="Smiley face" height="42" width="42"/>
	</a> 
	<a href="https://github.com/felixfan">
		<img src="https://dl.dropboxusercontent.com/u/8272421/GitHub.png" alt="Smiley face" height="60" width="60"/>
	</a>
	<a href="https://www.facebook.com/felixfyh">
		<img src="https://dl.dropboxusercontent.com/u/8272421/facebook.png" alt="Smiley face" height="42" width="42"/>
	</a>
	<a href="http://weibo.com/fanyanhui">
		<img src="https://dl.dropboxusercontent.com/u/8272421/weibo.gif" alt="Smiley face" height="60" width="60"/>
	</a>
		<a href="https://www.researchgate.net/profile/Yan-Hui_Fan/">
		<img src="https://dl.dropboxusercontent.com/u/8272421/rg.jpg" alt="Smiley face" height="42" width="42"/>
	</a>
</p>

<p>
	<a href="http://orcid.org/0000-0001-9677-3777">
		<img src="https://dl.dropboxusercontent.com/u/8272421/orcid-logo.png" alt="Smiley face" height="80" width="80"/>
	</a>
	<a href="http://scholar.google.com.hk/citations?user=8fX1TSQAAAAJ">
		<img src="https://dl.dropboxusercontent.com/u/8272421/scholar.gif" alt="Smiley face" height="80" width="80"/>
	</a>
	<a href="http://www.ncbi.nlm.nih.gov/sites/myncbi/collections/public/1DofnW-4AEx2CMcFJKO-DKj5V/?sort=date&direction=ascending">
		<img src="https://dl.dropboxusercontent.com/u/8272421/NCBI.jpg" alt="Smiley face" height="100" width="100"/>
	</a>
	
</p>

<h3>Recent Posts</h3>
<ul>
  {% for post in site.posts limit: 10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
</ul>

<h3>Tags</h3>
<ul>
    {% for tag in site.tags %}		
        <li><a href="/tags/{{ tag[0] }}">{{ tag[0] }}</a></li>
    {% endfor %}
</ul>